---
import SocialLinks from "../sections/SocialLinks.jsx";

export interface Props {
  className?: string;
}
---

<nav>
  <div class="nav-container">
    <div class="logo">May Cheong</div>
    <div class="nav-right">
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <SocialLinks />
    </div>
  </div>
</nav>
