---
import "../../styles/global.css";
import ContactForm from "../ui/ContactForm";

const github = import.meta.env.PUBLIC_GITHUB_URL;
const linkedin = import.meta.env.PUBLIC_LINKEDIN_URL;
const email = import.meta.env.PUBLIC_EMAIL;
const phone = import.meta.env.PUBLIC_PHONE;
---

<section id="contact" class="contact">
    <div class="container">
        <h2 class="section-title">Get In Touch</h2>
        <div class="contact-content">
            <div class="contact-info">
                <h3>Drop A Message!</h3>
                <p>
                    I'm always interested in new opportunities and exciting
                    projects. Whether you have a question, want to collaborate,
                    or just want to say hello, I'd love to hear from you!
                </p>
                <p>📧 {email}</p>
                <p>📱 {phone}</p>
                <p>📍 Dallas, TX</p>
                <div class="contact-links">
                    <a href={linkedin} target="_blank" rel="noopener noreferrer"
                        >LinkedIn</a
                    >
                    <a href={github} target="_blank" rel="noopener noreferrer"
                        >GitHub</a
                    >
                </div>
            </div>

            <!-- Static form for Netlify detection -->
            <form
                name="contact"
                data-netlify
                data-netlify-honeypot="bot-field"
                hidden
            >
                <input type="text" name="name" />
                <input type="email" name="email" />
                <textarea name="message"></textarea>
                <input name="bot-field" />
            </form>

            <div id="contact-form-container">
                <!-- React Contact Form rendered client side-->
                <ContactForm client:load />
            </div>
        </div>
    </div>
</section>
